html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    min-width: 320px;
    font-family: 'Jost', sans-serif;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
}

ul,
ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

button {
    border: none;
    cursor: pointer;
    background-color: transparent;
}



.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 100px;
}

.page-wrapper {
    background: #141024;
}

.tooltip {
    position: relative;
}

.tooltip__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #141024;
    border-radius: 5px;
    padding: 15px 20px;
    box-shadow: 0 2px 8px 0 rgba(20, 16, 36, 0.1);
    background: #fff;

    visibility: hidden;
    position: absolute;
    white-space: nowrap;
    bottom: 100%;
    margin-bottom: 10px;
}

.tooltip:hover .tooltip__text {
    visibility: visible;
}
.site-title {
    font-size: clamp(1.875rem, 1.625rem + 1.25vw, 3.125rem);
    margin-bottom: clamp(2.5rem, 2.25rem + 1.25vw, 3.75rem);
}

@media(max-width:1024px) {
    .tooltip:hover .tooltip__text {
      right: -15px;
    }
    .site-title {
        text-align: center;
    }
}