.footer {
    background: #141024;
    padding: 40px 0 clamp(1.25rem, 0.6125rem + 3.1875vw, 4.4375rem);
}

.footer__container {
    max-width: 1920px;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
}

.footer__title {
    font-weight: 700;
    font-size: clamp(1.125rem, 0.975rem + 0.75vw, 1.875rem);
    line-height: 160%;
    color: #fff;
    margin-bottom: 5px;
}

.footer__text {
    font-weight: 400;
    font-size: clamp(0.875rem, 0.85rem + 0.125vw, 1rem);
    line-height: 160%;
    color: rgba(255, 255, 255, 0.7);

}

.footer__tel {
    font-weight: 600;
    font-size: clamp(1rem, 0.825rem + 0.875vw, 1.875rem);
    line-height: 160%;
    color: #fff;
}
.footer__tel--mobile {
    display: none;
}

@media(max-width: 768px) {
    .footer__wrapper {
        flex-direction: column;
        text-align: center;
    }
    .footer__tel--mobile {
        display: block;
    }
    .footer__tel:not(.footer__tel--mobile) {
        display: none;
    }
    .footer__title {
        margin-bottom: 20px;
    }
    .footer__tel--mobile {
        margin-bottom: 40px;
    }
}