.get {
    background: #f9f9f9;
    padding: 100px 0;

}

.get__title {
    font-weight: 600;
    line-height: 160%;
    color: #141024;
}

.get__items {
    display: flex;
    gap: 40px;
}

.get__item {
    flex: 1;
}

.get__label {
    font-weight: 600;
    font-size: 24px;
    line-height: 160%;
    color: #141024;
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
}

.get__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: rgba(20, 16, 36, 0.7);
    text-wrap: balance;
}

@media(max-width:1024px) {
    .get__items {
        flex-direction: column;
    }
    .get__item {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .get__text {
        text-align: center;
    }
}