.header__container {
    max-width: 1920px;
    margin: 0 auto;
    padding: clamp(0.625rem, 0.375rem + 1.25vw, 1.875rem) clamp(0.625rem, -0.5rem + 5.625vw, 6.25rem) 0;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-weight: 700;
    font-size: clamp(1.125rem, 0.2679rem + 1.3393vw, 1.875rem);
    line-height: 160%;
    color: #fff;
    display: block;
}

.header__items {
    display: flex;
    gap: 40px;
}

.header__item {
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    text-align: center;
    color: #fff;
}

.header__phone {
    font-weight: 600;
    font-size: 30px;
    line-height: 160%;
    text-align: right;
    color: #fff;
}

@media(max-width:1024px) {
    .header__phone {
        display: none;
    }

    .header__items {
        display: none;
    }

    .header__call {
        width: 44px;
        height: 44px;
        background-image: url('../../images/header/call.svg');
        border-radius: 10px;
        display: block;
    }

    .header__burger {
        width: 44px;
        height: 44px;
        background-image: url('../../images/header/burger.svg');
        border-radius: 10px;
        display: block;
    }
    .header__nav {
        display: flex;
        gap: 10px;
    }
}