.hero {
    background-image: url('../../images/hero/girl.png');
    background-repeat: no-repeat;
    background-position: 81% 100%;
    background-size: clamp(27.5rem, 3rem + 38.2813vw, 48.9375rem) clamp(32rem, 3.0714rem + 45.2009vw, 57.3125rem);
}

.hero__wrapper {
    padding: clamp(2.9375rem, -12.7054rem + 24.442vw, 16.625rem) 0 clamp(2.5rem, -24rem + 41.4063vw, 25.6875rem);
}

.hero__title {
    font-weight: 600;
    font-size: clamp(1.875rem, 1.375rem + 2.5vw, 4.375rem);
    line-height: 160%;
    color: #fff;
    margin-bottom: clamp(0.625rem, 0.5rem + 0.625vw, 1.25rem);
}

.hero__text {
    font-weight: 400;
    font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
    line-height: 160%;
    color: #fff;
    margin-bottom: 50px;
    max-width:  clamp(18.75rem, 16.525rem + 11.125vw, 29.875rem);
}

.hero__btn {
    border-radius: 5px;
    padding: 25px 54px;
    background: #d52027;
    font-weight: 400;
    font-size: clamp(1rem, 0.8571rem + 0.2232vw, 1.125rem);
    line-height: 160%;
    color: #fff;
}

@media(max-width:1024px) {
    .hero {
        background-image: url('../../images/hero/girl-mobile.png');
        background-size: 273px 320px;
        background-position: center bottom 40px;
    }
    .hero__wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .hero__text {
        text-align: center;
        margin-bottom: 280px;
    }
    .hero__btn {
        padding: 17px 82px;
    }
}