.trainers {
    padding: clamp(3.75rem, 3rem + 3.75vw, 7.5rem) 0 clamp(1.875rem, 1.5rem + 1.875vw, 3.75rem);
}

.trainers__title {
    border-radius: 20px;
    font-weight: 600;
    color: #141024;
}

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    max-width: 360px;
}

  .swiper-pagination {
    position: static;
     width: 260px !important;
}


.swiper-pagination-progressbar-fill {
    background: #141024 !important;
}

.trainers-navigation__buttons {
    display: flex;
}

.trainers__items {
    display: flex;
    margin-bottom: 56px;
}

.trainers-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.trainers__img {
    margin-bottom: 20px;
}

.trainers__name {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: clamp(1.25rem, 1.2rem + 0.25vw, 1.5rem);
    line-height: 160%;
    color: #141024;
}

.trainers__text {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: clamp(0.875rem, 0.825rem + 0.25vw, 1.125rem);
    line-height: 160%;
    color: rgba(20, 16, 36, 0.7);
}

.trainers__link {
    font-weight: 400;
    font-size: clamp(1rem, 0.975rem + 0.125vw, 1.125rem);
    line-height: 160%;
    color: #d52027;
}

@media(max-width: 576px) {
    .swiper {
        overflow: visible;
    }
    .trainers__img {
        width: 220px;
        height: 306px;
    }
    .swiper-slide {
        max-width: 220px;
    }
    .trainers-navigation__buttons {
        display: none;
    }
    .swiper-pagination {
        width: 100% !important;
    }
}
